<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="token_User" value="2140723661:AAHZi5l3s-84R_Qk1yUYrIUNsv2-66iJZcc" />
    <add key="token_Group" value="5055719998:AAEKOvkroVROmTyLo5s8UgypnGzZyuWQ29k" />
    <add key="token_Chat" value="5031192079:AAE6H7azB5HLA8bIger-jbARi07mEM4_GTM" />
    <add key="chatBot_name" value="http://t.me/KKB_chat_bot" />
    <add key="groupBot_name" value="KKB_support_bot" />
    <add key="time_begin" value="0" />
    <add key="time_end" value="24" />
    <add key="connStr_users" value="Data Source=CLASS211-PREPOD;Initial Catalog=Feedback;User ID=sa;Password=111" />
  </appSettings>
</configuration>
